* {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad4f11;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #188705;
}


header {
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.384);
}

.content {
  margin-top: 50px;
}
footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  z-index: 100;
}

footer.hide {
  visibility: hidden;
}
